.xnnumbertruner{
    display: inline-flex;
    flex-flow: row-reverse;
}
.number-turner-item{
    height:40px;
    line-height: 40px;
    width:30px;
    text-align: center;
    overflow: hidden;
    border:2px solid #6423c0;
    position: relative;
}
.number-turner-item>div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.number-turner-item p{
    margin:0;
}
